nav.navbar.navbar-expand-lg.bg-secondary
    .container-fluid
        a.navbar-brand.text-light(href="#") Orlin
        button.navbar-toggler.bg-light(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
            ul.navbar-nav
                li.nav-item
                    a.nav-link.active.text-light(aria-current="page" href="#") Home
                li.nav-item
                    a.nav-link.text-light(href="#") Change Folders